.article-tags {
  width: 100%;
  margin: 0;
  padding: 20px 0 0;
}

.article-tags > div {
  display: initial;
}

.article-tags .article-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  padding: 5px 0 0;
}

.article-tags .article-tag {
  display: inline-block;
  background-color: #dae6f4;
  color: #2963ad;
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
  padding: 0 15px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  line-height: 1.6;
}

.article-tags .article-tag:hover {
  background-color: #c5d8ec;
}

.article-tags .article-tags-category {
  font-size: 18px;
  color: #000;
  padding: 0 0 10px;
}

.article-tags .article-tags-category a {
  color: var(--link-color, #2963ad);
  text-decoration: none;
}

.article-tags .article-tags-category a:hover {
  text-decoration: underline;
}
