footer {
  background-color: #363636;
  color: #fff;
  font-size: 12px;
}

footer .footer > div {
  margin: auto;
  max-width: 1360px;
  padding: 30px 24px 25px;
  text-align: center;
}

footer .footer p {
  margin: 0;
}

footer .footer p strong {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 12px;
}

footer .footer a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

footer .footer a:hover {
  text-decoration: underline;
}

/* brand + nav links section */
footer .footer > div > .section:first-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #555;
}

/* social links section */
footer .footer > div > .section:last-child {
  padding-top: 15px;
}

footer .footer > div > .section:last-child a {
  display: inline-block;
  margin: 0 8px;
  font-size: 12px;
}

@media (width >= 900px) {
  footer .footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 40px;
  }

  footer .footer > div > .section:first-child {
    text-align: left;
    border-bottom: none;
    padding-bottom: 0;
  }

  footer .footer > div > .section:last-child {
    text-align: right;
    padding-top: 0;
  }

  footer .footer > div > .section:last-child a {
    margin: 0 0 0 16px;
  }
}
